.amount{
	background:red;
	color:white;
	font-weight: 900;
}
.name{
	background:yellow;
	color:black;
	font-weight: 900;
}
.wrk{
	background:blue;
	color:white;
	font-weight: 900;
}
.prp{
	background:purple;
	color:white;
	font-weight: 900;
}
.matches{
	background:green;
	color:white;
	font-weight: 900;
}
.auth{
	background:black;
	color:white;
	font-weight: 900;
}
.form label{
	color: #1B3440;

    font-size: 15px;
}
input{
	width:100%;
}
.form{
	color: #1B3440;
	padding:20px;
	box-sizing:border-box;
	border: 1px 1px 1px 1px;
}
button{
    padding: 10px;
    margin-top: 12px;

}